
#root {
  margin-top: 4rem;
}

#btn-ok {
  margin-top: 6rem;
}

#hand {
    text-align: center;
}

#badhand {
  text-align: center;
}

#dadosdaempresa {
  text-align: center !important;
  font-size: 1.5rem;
  margin-top: 1rem;
}

#search {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


